<%- include('./partials/header.ejs') -%>
    <br>
    <div class="d-flex justify-content-center">
        <h1>Search Employee</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form" action="/employee/search/action" method="post">
                    <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input type="text" class="form-control" name="name" id="employeeName" aria-describedby="emailHelp"
                            placeholder="Enter Employee Name">

                    </div>

                    <input type="submit" class="btn btn-primary" placeholder="Search Employee">
                </form>
            </div>
        </div>
    </div>
    <% if(employee) { %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="color:red">Search Results</h2>
                <table style="border:1px" class="table">
                    
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Salary</th>
                    </tr>
                    <% employee.forEach(employee1=>{ %>
                        <tr>
                            <td><%= employee1.name %></td>
                            <td><%= employee1.designation %></td>
                            <td><%= employee1.salary %></td>
                        </tr>
                   <% })%>
                    
                </table>
            </div>
        </div>
    </div>
    <% }%>

    <%- include('./partials/footer.ejs') -%>